
body {
	padding: 40px;
	font-family: "Source Code Pro","PingFang SC","微软雅黑","Microsoft YaHei",Helvetica,"Helvetica Neue",Tahoma,Arial,sans-serif;
	font-size: 16px;
}
ul,li {
	list-style: none;
	padding: 0;
}
#peopleModule {
	margin-top: 50px;
	padding: 20px;
	color: #888;
	background-color: #f3f5f8;
}
input[type='text'], button {
	padding: 7px;
	font-size: 18px;
	border: none;
	border-radius: 4px;
}
input[type='text'] {
	padding-left: 15px;
	width: 100px;
	color: #111;
	background-color: #fff;
	/*border-bottom: 1px solid #888;*/
}
#input[type='text']::input-placeholder {
	color: #eee;
}
#addPerson {
	padding-left: 20px;
	padding-right: 20px;
	color:#fff;
	background-color: #f6846c;
	cursor: auto;
}
#addPerson:hover {
	box-shadow: 1px 2px 3px #aaa;
}
#people {
	width: 200px;
}	
#people li {
	margin-top: 10px;
	padding: 5px 10px;
	background-color: #fff;
	overflow: hidden;
}
#people li i {
	float: right;
	padding: 2px 7px;
	font-style: normal;
	font-size: 13px;
	font-family: "PingFang SC";
	color: #fff;
	opacity: .5;
	border-radius: 100%;
	background-color: #f6846c;
	cursor: pointer;
	transition: opacity .3s;
}	
#people li i:hover {
	opacity: 1;
}

#warning {
	position: fixed;
	top: 200px;
	left: 100px;
	color: #111;
	background-color: #fff;
	opacity: .95;
}
#warning::before {
	position: fixed;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #111;
	opacity: .7;
	z-index: 0;
}
#warning p {
	position: relative;
	margin: 0;
	padding: 50px 100px;
	font-size: 18px;
	color: #111;
	background-color: #fff;
	border-radius: 4px;
}
#warning button {
	position: absolute;
	top: 0;
	right: 0;
	opacity: .6;

}
#warning button:hover {
	opacity: 1;
}
#counts span {
	padding: 100px 10px;
	color: #f6846c;
}